@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$dark-purp: #7400b8;
$light-purp: #5E60CE;
$mid-blue: #48BFE3;
$dark-teal: #64DFDF;
$light-teal: #80FFDB

// $dark-purp: #dc2f02;
// $light-purp: #e85d04;
// $mid-blue: #dc2f02;
// $dark-teal: #f48c06;
// $light-teal: #ffba08


