@import './colors';

.discover-background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, $dark-teal , $mid-blue, $light-purp);
}

.discover-content {
  margin-top: 55px;
  width: 960px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient($dark-teal, $light-teal);
}