@import './colors';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  animation-name: modal-animation;
  animation-duration: 400ms;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom right, $light-purp, $mid-blue, $light-teal);
  width: 350px;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  height: auto;
  color: black;
  text-align: center;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

element.style {
    width: 450px;
    left: 342.5px;
    margin-top: 76px;
    height: auto;
}

.login-form-box {
  width: 176px;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.render-errors {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: $dark-purp;
}

.login-form-container {
  position: inherit;
  color: white;
  justify-content: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.session-submit {
  background-color: $light-purp;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 12px;
  width: 100%;
  border-radius: 3px;
  transition-duration: 0.4s;
  // border: $light-teal 1pt solid;
}

.demo-user {
  background-color: $dark-purp;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 12px;
  width: 100%;
  border-radius: 3px;
  transition-duration: 0.4s;
  // border: $light-teal 1pt solid;
}

.session-submit:hover,
.demo-user:hover {
  color: $light-teal;
  cursor: pointer;
}

.login-input {
  border-radius: 5px;
  border: $light-purp 1pt solid;
  color: $light-purp;
  text-align: left;
  padding: 0 13px 0 13px;
  margin-top: 2px;
  display: block;
  align-items: center;
  margin-left: 2px;
  line-height: 36px;
}

.switch-text {
  font-size: 12px;
  margin-top: 5px;
}

.switch-form {
  font-size: 12px;
  margin-left: 5px;
  color: $light-purp;
  transition-duration: 0.4s;
}

.switch-form:hover {
  color: $dark-purp;
  cursor: pointer;
}

.login-input::placeholder {
  color: $mid-blue;
}

@keyframes modal-animation {
  from {
    top: -100%;
    bottom: -100%;
  }
  to {
    top: 50%;
    bottom: 0%;
  }
}