.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  animation-name: modal-animation;
  animation-duration: 400ms;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 350px;
  max-width: 100%;
  height: auto;
  color: black;
  text-align: center;
  padding: 20px;
}

element.style {
    width: 450px;
    left: 342.5px;
    margin-top: 76px;
    height: auto;
}

.login-form-container {
  position: inherit;
  color: black;
  justify-content: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100%;
}

.session-submit {
  background-color: #ff6708;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 16px;
  height: 20px;
  line-height: 12px;
  width: 100%;
  border-radius: 3px;
  border: #ccc 1pt solid;
}

.login-input {
  border-radius: 3px;
  border: #ccc 1pt solid;
  color: #1b1b1b;
  text-align: left;
  width: 100%;
  padding: 0 13px 0 13px;
  margin-top: 2px;
  // margin-bottom: 2px;
  display: block;
  align-items: center;
  margin-left: 2px;
  line-height: 36px;
}

@keyframes modal-animation {
  from {
    top: -100%;
    bottom: -100%;
  }
  to {
    top: 50%;
    bottom: 0%;
  }
}