@import './colors';

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.navbar-container {
	position: fixed;
	display: flex;
	font-size: 14px;
	color: $dark-purp;
	border-bottom: 1px solid $light-purp;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
	width: 100%;
	height: 55px;
	background-color: $light-purp;
	z-index: 10;
}

.navbar-contents {
	display: flex;
	width: 960px;
	height: 55px;
	justify-content: space-between;
	background-color: $dark-teal;
}	

.navbar-left {
	display: flex;
	align-items: center;
}

.navbar-right {
	display: flex;
	align-items: center;
}

.nav-logo {
	height: 45px;
	margin-top: 1px;
}

.nav-home {
	padding: 18px;
}

.nav-user {
	padding: 18px;
}

.nav-title {
	margin-left: 15px;
}

.logout {
	padding: 18px;
}
