.splash {
    background-color: white;
    background-size: cover;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.splash-nav {
    display: block;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 450px;
    width: 70%;
    border-top: solid #ff6708 4px;
    background-image: url(https://a-v2.sndcdn.com/assets/images/hp_image_creator_slide-db400e2f.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
}

.signup-login {
    position: absolute;
    top: 10px;
    right: 10px;
}

.main-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 55px;
    width: 100px;
}

.main-image-text {
  // display: flex;
  // justify-content: space-between;
  padding: 60px;
  text-align: center;
  // background: #1abc9c;
  color: white;

  
}

// .right-session-buttons {
//     padding: 9px 10px 8px;
//     // position: absolute;
//     display: block;
//     color: #fff;
//     top: 8px;
//     right: 30px;
//     justify-content: space-between;
//     float: right;
// }

.signin-button:hover, 
.create-button:hover,
.creators-button:hover, 
.uploading-button:hover{
    cursor: pointer;
}

.signin-button {
    padding: 2px 15px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 3px;
    margin-left: 10px;
    line-height: 26px;
}

.create-button {
    padding: 2px 15px;
    color: #fff;
    background: #ff6708;
    border-radius: 3px;
    box-sizing: border-box;
    margin-left: 10px;
    line-height: 26px;
}

.creators-button {
    padding: 2px 15px;
    color: #fff;
    background: transparent;
}

.image-text-header {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: 120px;
    margin-bottom: 5px;
    opacity: 85%;
}

.image-text {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    opacity: 85%;
}

.uploading-button {
    background-color: #ff6708;
    color: white;
    border-radius: 3px;
    padding: 14px 15px 14px 15px; 
    font-size: 18px;
    margin-left: 20px;
}

