@import './colors';

.splash {
    background-image: linear-gradient(to right, $dark-teal , $mid-blue, $light-purp);
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.splash-nav {
    display: block;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 450px;
    width: 1080px;
    border-top: solid $mid-blue 4px;
    background-image: url(https://active-storage-audiofog-dev.s3.us-west-1.amazonaws.com/181029161953-olafur-eliasson-032-3-beauty.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
}

.signup-login {
    position: absolute;
    top: 10px;
    right: 10px;
}

.main-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 55px;
    width: 100px;
}

.main-image-text {
    // display: flex;
    // justify-content: space-between;
    padding: 60px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    // background: #1abc9c;
    color: white;

  
}

.signin-button:hover, 
.create-button:hover,
.creators-button:hover, 
.uploading-button:hover{
    cursor: pointer;
}

.signin-button:hover,
.creators-button:hover {
    color: $mid-blue;
}

.create-button:hover,
.uploading-button:hover {
    color: white;
}

.signin-button {
    padding: 2px 15px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    margin-left: 10px;
    line-height: 26px;
    transition-duration: 0.4s;
}

.create-button {
    padding: 2px 15px;
    color: $light-purp;
    background: $dark-teal;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin-left: 10px;
    line-height: 26px;
    transition-duration: 0.4s;
}

.creators-button {
    padding: 2px 15px;
    color: #fff;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    line-height: 26px;
    transition-duration: 0.4s;
}

.image-text-header {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: 120px;
    margin-bottom: 5px;
    opacity: 85%;
}

.image-text {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    opacity: 85%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 15px
}

.uploading-button {
    background-color: $dark-teal;
    color: $light-purp;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    padding: 14px 15px 14px 15px; 
    font-size: 18px;
    margin-left: 20px;
    margin-top: 50px;
    transition-duration: 0.4s;
}

.trending-container {
    width: 1080px;
}

.trending-text {
    font-family: 'Poppins', sans-serif;
    color: $dark-purp;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 10px;
    font-size: 24px;
}

.sounds-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

.front-page-sound-title {
    font-size: 16px;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 0.4s;
}

.front-page-artist-name {
    font-size: 14px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 0.4s;
}

.first-six-sounds, .last-six-sounds {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.last-six-sounds {
    border-bottom: 50px;
}
.front-page-item-art {
    height: 140px;
    width: 140px;
}

.front-page-sound-title:hover, 
.front-page-item-art:hover,
.front-page-artist-name:hover {
    cursor: pointer;
}

.front-page-artist-name:hover,
.front-page-sound-title:hover {
    color: $light-purp
}
