@import './colors';

.upload-background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, $dark-teal , $mid-blue, $light-purp);
}

.upload-text{
  font-size: 30px;
  color: $dark-purp;
  width: 110px;
  font-family: 'Poppins', sans-serif;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 3px solid white;
}

.upload-content{
  margin-top: 20px;
  padding: 60px;
  width: 840px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background: url(https://active-storage-audiofog-dev.s3.us-west-1.amazonaws.com/Screen+Shot+2021-11-09+at+4.45.53+PM.png);
  background-size: 100% 100%;
}

.upload-form{
  display: flex;
  flex-direction: column;
  height: 800px;
  background-image: linear-gradient(to bottom right, $dark-teal , $mid-blue, $light-purp);
}

.upload-sound-text, .upload-photo-text, .title-text, .upload-submit-button{
  font-family: 'Poppins', sans-serif;
}

.image-preview {
  height: 200px;
  width: 200px;
}

.upload-submit-button{
  background: none;
  width: 50%;

}