@import './colors';

.upload-background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, $dark-teal , $mid-blue, $light-purp);
}

.upload-text{

}

.upload-content{
  margin-top: 55px;
  padding: 60px;
  width: 840px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background: url(https://active-storage-audiofog-dev.s3.us-west-1.amazonaws.com/Screen+Shot+2021-11-09+at+4.45.53+PM.png);
  background-size: 100% 100%;
}

.upload-form{
  height: 800px;
  background-image: linear-gradient(to right, $dark-teal , $mid-blue, $light-purp);
}

.upload-sound, .current-sound, .upload-photo, .current-photo{
  opacity: 1.0;
}