@import './colors';


.user-song-item {
  margin: 15px 0 0 20px;

}

.user-top {
  height: 400px;
  display: flex;
  background-image: linear-gradient(to left, $dark-teal , $mid-blue, $light-purp);
}

.user-pic {
  height: 210px;
  width: 210px;
  margin: 30px 0 0 30px;
  border-radius: 50%;
}

.user-name {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 28px;
  margin: 30px 0 0 15px;
}

.name-text {
  display: flex;
  align-items: center;
  background-color: $dark-purp;
}

.user-bottom {
  height: 100%;
  display: flex;
}

.user-bottom-left {
  width: 70%;
  font-family: 'Poppins', sans-serif;
}

.spotlight-text {
  font-size: 24px;
  color: $dark-purp;
  width: 110px;
  margin: 30px 0 0 30px;
  padding-bottom: 7px;
  border-bottom: 4px solid white;
}

.user-bottom-right {
  height: 100%;
  color: $mid-blue;
  border-left: 1px solid whitesmoke;
}

.user-song-item {
  display: flex;
  align-items: center;
}

.play-button-title {
  display: flex;
}

.play-button-background {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: $light-teal;
  background-color: $light-purp;
  border-radius: 50%;
}

.play-button-background:hover {
  cursor: pointer;
}

.user-item-artist-title {
  color: $light-purp;
  margin-left: 5px;
}

.play-button {
  margin-top: 3px;
}

.user-item-sound-title {
  font-size: 24px;
}

.info-waveform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  margin-left: 5px;
}

.user-song-art {
  height: 160px;
  width: 160px;
}

.user-waveform {
  height: 95px;
  width: 360px;
}